<div>
    <div class="pull-right">
        <button class="btn btn-primary btn-xs" ng-click="createNewComment()"
                title="Create a new comment"
                ng-show="state.tempComment.length > 0">Save
        </button>
        <button class="btn btn-default btn-xs" ng-click="clearTempVars()"
                title="Cancel comment"
                ng-show="state.tempComment.length > 0">Cancel
        </button>
        <!--<button class="btn btn-link btn-xs" title="Toggle the new comment form"-->
        <!--ng-click="state.newCommentVisible = !state.newCommentVisible">-->
        <!--<i class="fa fa-comment"></i> Create-->
        <!--</button>-->
    </div>
    <div style="min-height: 150px;">
        <div class="newComment">
            <div class="form-group">
                <h4><small>New Comment</small></h4>
                <textarea class="form-control" rows="2" ng-model="state.tempComment" placeholder="Create a new comment..."></textarea>
            </div>
        </div>
        <div class="alert text-center" style="margin-top: 30px;" ng-show="!state.ready">
            <h4><small>loading...</small></h4>
        </div>
        <div class="grey" style="margin-top: 30px;" ng-show="!comments && !state.newCommentVisible && state.ready">
            No comments have been made. Create one using the input box above.
        </div>
        <div ng-if="comments && comments.thread.length > 0" class="comments-container">
            <span ng-include="'src/directives/ap_comments/ap_recursive_comment.html'"
                  ng-init="comment = comments;"></span>
        </div>
    </div>
</div>