<div style="min-height: 200px;">

    <div class="row">
        <div class="col-xs-12">
            <div ng-hide="state.ready" class="alert alert-info">Loading attachment details</div>
            <div style="height: 110px;" ng-show="state.ready">
                <h4>
                    <small>Add Attachment</small>
                </h4>
                <iframe frameborder="0" seamless="seamless" width="100%" src="{{ trustedUrl }}"
                        scrolling="no" style="height: 95px"></iframe>
            </div>
        </div>
    </div>

    <h4 ng-show="attachments.length > 0">
        <small>Attachments</small>
    </h4>

    <ul class="list-unstyled">
        <li ng-repeat="attachment in attachments">
            <a href="{{ attachment }}" target="_blank">{{ fileName(attachment) }}</a>
            <button class="btn btn-link" ng-click="deleteAttachment(attachment)" title="Delete this attachment">
                <i class="fa fa-times red"></i>
            </button>
        </li>
    </ul>

</div>