<span class="ng-cloak">
   <span ng-if="!multi">
       <select class="form-control" ng-model="state.singleSelectID"
               ng-change="updateSingleModel()" style="width: 100%" ng-disabled="ngDisabled"
               ng-options="lookup.id as lookup[state.lookupField] for lookup in arr">
       </select>
   </span>
   <span ng-if="multi">
       <select multiple ui-select2 ng-model="state.multiSelectIDs"
               ng-change="updateMultiModel()" style="width: 100%;" ng-disabled="ngDisabled">
           <option></option>
           <option ng-repeat="lookup in arr" value="{{ lookup.id }}"
                   ng-bind="lookup[state.lookupField]">&nbsp;</option>
       </select>
   </span>
</span>