<ul class="comments">
    <li class="comment" ng-repeat="response in comment.thread" style="border-top-width: 1px;border-top-color: grey">
        <div class="comment-content">
            <div class="content">
                <h5>
                    <small>
                        <span class="author">{{ response.author.lookupValue }}</span>
                        <span>{{ response.modified  | date:'short' }}</span>
                        <button class="btn btn-link btn-xs" ng-click="state.respondingTo = response"><i
                                class="fa fa-mail-reply"></i> Reply
                        </button>
                        <button class="btn btn-link btn-xs"
                                ng-click="deleteComment(response)"><i
                                class="fa fa-trash-o"></i> Delete
                        </button>
                    </small>
                </h5>
                <p class="comment-text">{{ response.comment }}</p>
            </div>
        </div>
        <div ng-if="state.respondingTo === response">
            <div class="row">
                <div class="col-xs-12">
                    <form>
                        <div class="form-group">
                            <h5>
                                <small>
                                    Response
                                    <label class="pull-right">
                                        <button class="btn btn-link btn-xs"
                                                ng-click="createResponse(response)"><i
                                                class="fa fa-save"></i> Save
                                        </button>
                                        <button class="btn btn-link btn-xs"
                                                ng-click="clearTempVars()"><i class="fa fa-undo"></i> Cancel
                                        </button>
                                    </label>
                                </small>
                            </h5>
                            <textarea class="form-control" rows="2"
                                      ng-model="state.tempResponse"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div ng-if="response.thread.length !== -1">
            <span ng-include="'src/directives/ap_comments/ap_recursive_comment.html'"
                  ng-init="comment = response;"></span>
        </div>
    </li>
</ul>