<div class="container">
    <h3>Offline XML Generator</h3>
    <p>Fill in the basic information for a list and make the request to SharePoint.  The xml
        response will appear at the bottom of the page where you can then copy by Ctrl + A.</p>
    <hr/>
    <form role="form">
        <div class="form-group">
            <label>Site URL</label>
            <div class="input-group">
                <input type="url" class="form-control" ng-model="state.siteUrl">
                  <span class="input-group-btn">
                    <button title="Refresh list/libraries" class="btn btn-success"
                            type="button" ng-click="getLists()">
                        <i class="fa fa-refresh"></i> </button>
                  </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label>List Name or GUID</label>
                    <select ng-model="state.selectedList"
                            ng-options="list.Title for list in listCollection"
                            class="form-control"></select>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label>Number of Items to Return</label>
                    <input type="number" class="form-control" ng-model="state.itemLimit"/>
                    <p class="help-block">[0 = All Items]</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Operation</label>
                    <select class="form-control" ng-model="state.operation"
                            ng-options="operation for operation in operations"></select>
                    <p class="help-block">Operation to query with.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Selected Fields</label>
                    <select multiple ui-select2 ng-model="state.selectedListFields"
                            style="width: 100%;"
                            ng-disabled="listCollection.length < 1">
                        <option ng-repeat="field in state.availableListFields"
                                value="{{field.Name}}">{{ field.Name }}</option>
                    </select>
                    <p class="help-block">Leaving this blank will return all fields visible in the default list view.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>CAML Query (Optional)</label>
            <textarea  class="form-control" ng-model="state.query" rows="3"></textarea>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary" ng-click="getXML()">Make Request</button>
        <hr/>
        <h4>XML Response</h4>
        <ol>
            <li>Create a new offline file under "app/dev" in angularPoint.</li>
            <li>Use the same name as found in the model at "model.list.title" + .xml</li>
            <li>Select the returned XML below by clicking in the textarea.</li>
            <li>Add the XML to the newly created offline .xml file.</li>
        </ol>
        <div class="well well-sm">
            <textarea name="xmlResponse" class="form-control" cols="30" rows="10"
                      ng-model="state.xmlResponse" ng-click="onTextClick($event)"></textarea>
        </div>
    </form>
</div>