<style type="text/css">
    select.multiselect {
        min-height: 400px;
    }

    .ui-match {
        background: yellow;
    }
</style>


<div class="container">
<ul class="nav nav-tabs">
    <li ng-class="{active: state.activeTab === 'Users'}">
        <a href ng-click="updateTab('Users')">Users</a>
    </li>
    <li ng-class="{active: state.activeTab === 'Groups'}">
        <a href ng-click="updateTab('Groups')">Groups</a>
    </li>
    <li ng-class="{active: state.activeTab === 'Merge'}">
        <a href ng-click="state.activeTab = 'Merge'">Merge</a>
    </li>
    <li ng-class="{active: state.activeTab === 'UserList'}">
        <a href ng-click="state.activeTab = 'UserList'">User List</a>
    </li>
    <li ng-class="{active: state.activeTab === 'GroupList'}">
        <a href ng-click="state.activeTab = 'GroupList'">Group List</a>
    </li>
</ul>

<div ng-if="state.activeTab === 'Users'">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-5">
                    <span style="font-weight:bold">Select a Group:</span>
                    <select class="form-control" ng-model="users.filter"
                            ng-options="group.Name for group in groups.all"
                            ng-change="updateAvailableUsers(users.filter)" style="min-width: 100px;"></select>
                </div>
                <div class="col-xs-7">
                    <span style="font-weight:bold">Site/Site Collection: </span>
                    <input class="form-control" ng-model="state.siteUrl" ng-change="updateAvailableUsers(users.filter)">
                </div>
            </div>
            <div class="row" ng-if="users.filter.Description">
                <div class="col-xs-12">
                    <p class="help-block">Description: {{ users.filter.Description }}</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div colspan="3" class="description">This tab will allow you to quickly assign multiple users to a
                        selected group.
                    </div>
                </div>
            </div>
            <hr class="hr-sm">
            <div class="row">
                <div class="col-xs-5">
                    <div class="form-group">
                        <label>Available Users ({{users.available.length}})</label>
                        <select ng-model="users.selectedAvailable"
                                ng-options="user.Name for user in users.available"
                                multiple="multiple" class="multiselect form-control"></select>
                    </div>
                </div>
                <div class="col-xs-2 text-center" style="padding-top: 175px">
                    <button class="btn btn-default" style="width:80px;"
                            ng-click="updatePermissions('AddUserToGroup', users.selectedAvailable, [users.filter])"
                            title="Add user">
                        <i class="fa fa-2x fa-angle-double-right"></i>
                    </button>
                    <br/><br/>
                    <button class="btn btn-default" style="width:80px;"
                            ng-click="updatePermissions('RemoveUserFromGroup', users.selectedAssigned, [users.filter])">
                        <i class="fa fa-2x fa-angle-double-left"></i>
                    </button>
                </div>
                <div class="col-xs-5">
                    <div class="form-group">
                        <label>Assigned Users ({{users.assigned.length}})</label>
                        <select ng-model="users.selectedAssigned"
                                ng-options="user.Name for user in users.assigned"
                                multiple="multiple" class="multiselect form-control"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="state.activeTab === 'Groups'">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-5">
                    <span style="font-weight:bold">Select a User:</span>
                    <select class="form-control" ng-model="groups.filter"
                            ng-options="user.Name for user in users.all"
                            ng-change="updateAvailableGroups(groups.filter)" style="min-width: 100px;"></select>
                </div>
                <div class="col-xs-7">
                    <span style="font-weight:bold">Site/Site Collection: </span>
                    <input class="form-control" ng-model="state.siteUrl"
                           ng-change="updateAvailableGroups(groups.filter)">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div colspan="3" class="description">This page was created to make the process of managing
                        users/groups within the site
                        collection more manageable. When a user is selected, the available groups are displayed on the
                        left and the groups that the user is currently a member of will show on the right. Selecting
                        multiple groups is supported.
                    </div>
                </div>
            </div>
            <hr class="hr-sm">
            <div class="row">
                <div class="col-xs-5">
                    <div class="form-group">
                        <label>Available Groups ({{groups.available.length}})</label>
                        <select ng-model="groups.selectedAvailable"
                                ng-options="group.Name for group in groups.available"
                                multiple="multiple" class="multiselect form-control"></select>
                    </div>
                </div>
                <div class="col-xs-2 text-center" style="padding-top: 175px">
                    <button class="btn btn-default" style="width:80px;"
                            ng-click="updatePermissions('AddUserToGroup', [groups.filter], groups.selectedAvailable)"
                            title="Add to group">
                        <i class="fa fa-2x fa-angle-double-right"></i>
                    </button>
                    <br/><br/>
                    <button class="btn btn-default" style="width:80px;"
                            ng-click="updatePermissions('RemoveUserFromGroup', [groups.filter], groups.selectedAssigned)">
                        <i class="fa fa-2x fa-angle-double-left"></i>
                    </button>
                </div>
                <div class="col-xs-5">
                    <div class="form-group">
                        <label>Assigned Users ({{users.assigned.length}})</label>
                        <select ng-model="groups.selectedAssigned"
                                ng-options="group.Name for group in groups.assigned"
                                multiple="multiple" class="multiselect form-control"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="state.activeTab === 'Merge'">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="description">This tab allows us to copy the members from the "Source" group over to
                        the "Target" group.
                        It's not a problem if any of the users already exist in the destination group. Note: This is
                        a onetime operation
                        so any additional members added to the Source group will not automatically be added to the
                        destination group. You will
                        need to repeat this process.
                    </div>
                </div>
            </div>
            <hr class="hr-sm">
            <div class="row">
                <div class="col-xs-5">
                    <fieldset>
                        <legend>Step 1</legend>
                        <div class="well">
                            <div class="form-group">
                                <label>Source Group</label>
                                <select class="form-control" ng-model="state.sourceGroup"
                                        ng-options="group.Name for group in groups.all"
                                        ng-change="updateAvailableUsers(state.sourceGroup)"
                                        style="min-width: 100px;"></select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-5">
                    <fieldset>
                        <legend>Step 2</legend>

                        <div class="well">
                            <div class="form-group">
                                <label>Source Group</label>
                                <select class="form-control" ng-model="state.targetGroup"
                                        ng-options="group.Name for group in groups.all"
                                        style="min-width: 100px;"></select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-2">
                    <fieldset>
                        <legend>Step 3</legend>
                        <button class="btn btn-success"
                                ng-disabled="state.sourceGroup.length < 1 || state.targetGroup.length < 1"
                                ng-click="mergeGroups()"
                                title="Copy all members from the source group over to the destination group.">
                            <i class="fa fa-2x fa-magic"></i> Merge
                        </button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="state.activeTab === 'UserList'">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-weight:bold">User Filter</span>
            <input type="text" class="form-control" ng-model="state.userFilter"
                   ng-change="usersTable.reload()">
        </div>
        <table ng-table="usersTable" class="table" template-pagination="custom/pager">
            <tr ng-repeat="user in $data">
                <td data-title="'ID'"> {{ user.ID }}</td>
                <td data-title="'Name'">
                    <a href ng-click="userDetailsLink(user)"
                       ng-bind-html="user.Name |  highlight:state.userFilter"></a>
                </td>
                <td data-title="'Email'"> {{ user.Email }}</td>
            </tr>

        </table>
    </div>
</div>
<div ng-if="state.activeTab === 'GroupList'">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-weight:bold">Group Filter</span>
            <input type="text" class="form-control" ng-model="state.groupFilter"
                   ng-change="groupsTable.reload()">
        </div>
        <table ng-table="groupsTable" class="table" template-pagination="custom/pager">
            <tr ng-repeat="group in $data">
                <td data-title="'ID'"> {{ group.ID }}</td>
                <td data-title="'Name'">
                    <a href ng-click="groupDetailsLink(group)"
                       ng-bind-html="group.Name |  highlight:state.groupFilter"></a>
                </td>
                <td data-title="'Description'"> {{ group.Description }}</td>
            </tr>
        </table>
    </div>
</div>
</div>

<script type="text/ng-template" id="custom/pager">
    <div class="row">
        <div class="col-xs-12">
            <ul class="pager ng-cloak">
                <li ng-repeat="page in pages"
                    ng-class="{'disabled': !page.active}"
                    ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</script>